robot1:
  controller_manager:
    ros__parameters:
      update_rate: 100
      use_sim_time: true
      joint_state_broadcaster:
        type: joint_state_broadcaster/JointStateBroadcaster
      simple_diff_drive_controller: # 控制器名称（与插件注册一致）
        type: simple_diff_drive_controller/SimpleDiffDriveController

